
@tailwind base;
@tailwind components;
@tailwind utilities;


.calendar-style .MuiPickersCalendarHeader-root {
  background-color: #f0f0f0; /* Example: Changing the header background color */
}

.calendar-style .MuiPickersDay-today {
  background-color: #ff0000; /* Example: Changing today's background color */
}

.calendar-style .MuiPickersDay-root {
  color: #0000ff; /* Example: Changing the text color of the days */
  width: 50vw;
}
